body
{
font-family:arial;
color:black;
}



.alpha
{
width: 1280px;
height: 300px;
position: absolute;
cursor:pointer;
overflow: hidden;
}
#a
{
margin:0px;
width: 100%;
height: 100%;
transition: all 1s ease-in;
}
span
{
position: absolute;
color:#fff;
left:30px;
bottom:80px;
right: 0px;
margin: 2px;
font-family: sans-serif;
padding:6px 0px;
font-size:70px;
transform: translateY(50px);
opacity: .1;
transition: all 1s ease-in;
font-weight: 600px;
border: 6px solid white;

}
.alpha:hover #a
{
transform: scale(1.8);
transition: all 1s ease-in;
filter: brightness(.2);
}
.alpha:hover span
{
transform:translateY(-50px);
font-size: 70px;
opacity: 1;
transition: all 1s ease-in;
}

ul
{
margin:0px;
padding: 0px;
list-style: none;
}
ul li
{
float: left;
width: 168px;
height: 40px;
background-color:#E89E00;
opacity:;
line-height: 40px;
text-align: center;
font-size: 20px;
margin-right:2px;
border-radius: 20px;
border: 2px solid gray;
}
ul li a
{
text-decoration:none;
color:#000000;
display:block;
}

ul li a:hover
{
background-color:#0EA101  ;
border-radius: 20px;
}
ul li ul li
{
display:none;
font-size: 15px;
}
ul li:hover ul li
{
display:block;
}

#h
{
text-decoration:none;
font-weight: bold;
font-size: 50px;
}
#r
{
font-size:35px;
}

#t
{
font-weight: bold;
font-size: 50px;
margin-top:420px;

 text-align: center;
}
#y
{
    position: absolute;
    left:10px;
    top: 650px;
    z-index: -1;
}

