.dropdown-menu{
    background-color: yellow;
    color: aqua;
    font-size : 15px;
}
#searchbar{
    background: url('../Media/tb.jpg') no-repeat center fixed;
    background-size: cover;
    height: 50vh;
    margin-top: 60px;
    
}
#searchbar h1{
    color: azure;
    text-align: center;
    margin-top: 30px;
    font-family: 'Boogaloo';
}

.form-control{
    width: 550px;
    text-align: center; 
    padding: 5px 5px;
    margin: 0 auto;
}
@media(max-width:900px){
    .form-control{
    width: 230px;
    text-align: center; 
    padding: 5px 5px;
    margin: 0 auto;
}
    #searchbar{
    background: url('../Media/tb.jpg') no-repeat center fixed;
    background-size: cover;
    height: 80vh;
    margin-top: 60px;
    
    
}
    @media(min-width:768px,max-width:1024px){
        #searchbar{
    background: url('../Media/tb.jpg') no-repeat center fixed;
    background-size: cover;
    height: 50vh;
    margin-top: 60px;
    
    
}
    }
    
        
}
        
    }
    #map{
    height: 350px;
    width: 100%;
    background-color: gray;
}
}
#searchbar button{
    text-align: center;
}
#location .container{
   margin: 0;
}
#location h3{
    color: azure;
}
.c1{
background: #e52d27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

padding:20px;
}
.card-deck{
    background-color: dimgray;
}
#map{
    height: 350px;
    width: 100%;
    background-color: gray;
}

#maps{
    margin-top: 30px;
}
#maps{
    background-color: azure;
     
}
.locate-map{
    color: Black;
    font-family: 'Acme';
    
}
h4{
    font-size: 1em !important;
}
.card-img-top{
    height="66px" !important;
    width="118px" !important;
}
.card{
    word-wrap: normal;
    font-size: 1em;
}


@media (min-width: 576px) { .card-img-top{
    height="66px" ;
    width="118px" ;
}
.card{
    word-wrap: normal;
    font-size: 1em;
}



}


@media (min-width: 768px) { .card-img-top{
    height="66px";
    width="118px";
}
.card{
    word-wrap: normal;
    font-size: 1em;
}


}


@media (min-width: 992px) { .card-img{
    height="66px" ;
    width="118px";
} }


@media (min-width: 1200px) { .card img{
    height="66px";
    width="118px";
} }
