body{
    background-color: transparent; 
}

nav{
    font-family: 'Rancho';
    font-size: 1.2em;
}

#show{
    margin-top: 67px;
}
#show .container-fluid{
    
}

.rowht{
    height: 70vh;
}


@media(max-width: 768px){
    .rowht{
    height: 85vh;
}



}
#show .bg{
    background: url('../Media/restaurant-449952_1280.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 2px ridge lightgray;
    border-radius: 10px;
}
.bg2{
    padding-bottom: 20px;
    color: black;
    border: 2px hidden;
    border-radius: 20px;
}
 #show h1{
    margin-top: 60px;
    color: black;
    font-size:2em;
}
#show .fa{
    font-size: 20px;
    color: red;
}
.fa-star{
    color: gold !important;
}
#show .btn{
    color: blue;
    background-color:darkorange;
}

/*Panels*/
.review{
    margin-top: 45px;
    border: 1px ridge gray;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: azure;
}
.panel{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.panel-heading{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px 10px;
    background: dimgray;
    color: aqua;
    cursor: pointer;
}
.panel-body{
    padding: 5px 10px;
}



/*Map*/
 #map{
    height: 92%;
    width: 100%;
    min-height: 450px;
    background-color: gray;
    border: 2px ridge lightgray;
    margin-top: 40px;
}

#footer{
    background: black;
    padding: 30px;
}
#footer .fa{
    font-size: 70px;
    color: azure;
}
#footer ul{
   text-align: center;
}
#footer li{
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
}
#footer a{
    text-decoration: none;
    color: whitesmoke;
}



.card a{
    text-decoration: none;
    color: blue;
}
.card a:hover{
    box-shadow: 2px 0 2px 0 gray;
    transition-duration: 1s;
}


/*book*/

.fa-table{
    color: black;
    font-size: 30px;
}